@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary-color: #685752;
    --secondary-color: #fdf7f4;
    --background-color: #8eb486;
    --text-color: #997c70;
}

body {
    background-color: var(--secondary-color) !important;
}
.img {
    width: 100px;
}
.cont-nav {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
}
.link {
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    color: var(--primary-color);
}
.list-item {
    display: flex; /* Make the list items behave like flex items */
    align-items: center; /* Vertically center the content within the list items */
}
a:hover {
    color: var(--text-color);
}
.cont-footer {
    height: 100%;
    background-color: var(--background-color);
}
